<!DOCTYPE html>
<html>
{% extends "base.html" %} {% block content %}

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DFU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="py-2 container">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Diabetics Foot Ulcres Classification Tool</h3>
                <hr>
                <div class="col-lg-8 col-md-8 mx-auto">
                    <h3 class="display-6">Introduction</h3>
                    <p class="card-text" style="margin-top: 10px; text-align: justify">
                        DFU identification and treatment processes have been problematic up to now. Existing clinical
                        approaches to DFU treatment have lots of limitations due to high cost in diagnosis, treatment as
                        well as it has a lengthy process of care of the ulcers. Also diagnosis of DFU is very crucial as
                        it has to be done by an expert otherwise if the ulcer was not diagnosed or misdiagnosed, it can
                        lead to an imputation of a limb of a patient. So the diagnosis part of DFU has become an
                        emerging field in diabetic care.
                    </p>
                    <h3 class="display-6">This research</h3>
                    <p class="card-text" style="margin-top: 10px; text-align: justify">
                        Aim of this research is to improve the existing dataset of DFUs. Generative Adversarial Networks
                        have been used to increase the dataset size. This tool can be used to compare the classification
                        accuracy of the Pre-augmentation classification model and Post-Augmentation classification
                        model.
                    </p>
                    <h3 class="display-6">Team</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Pramodya Abeysinghe</h5>
                                    <p class="card-text">
                                        <span>Postgraduate Student</span><br>
                                        <span>Informatics Institute of Technology (IIT), Colombo</span>
                                    </p>
                                    <a href="mailto:pamodya.2019197@iit.ac.lk" class="btn btn-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/pramodyaabeysinghe/" class="btn btn-primary">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Guhanathan Poravi</h5>
                                    <p class="card-text">
                                        <span>Senior Lecturer Grade I</span><br>
                                        <span>Informatics Institute of Technology (IIT), Colombo</span>
                                    </p>
                                    <a href="mailto:guhanathan.p@iit.ac.lk" class="btn btn-primary">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}

</html>